<h3><%= @group.name %></h3>
<h3><%= @group.description %></h3>
<% if signed_in? %>
  <% if current_user.voted? @group %>
    <%= button_to "Downvote", unvote_group_path(@group), method: :delete %>
  <% else %>
    <%= button_to "Upvote", vote_group_path(@group) %>
  <% end %>
<div>
  <%= pluralize(@group.votes.count, "upvotes") %> <br>
</div>
<div id="join_group_button">
  <%= render "join_group_button", group: @group %>
</div>
<% end %>
<%= render @images %>

