<h1><%= @gallery.name %></h1>

<%= link_to "Edit", edit_gallery_path(@gallery) %>
<p>
<%= link_to "Delete", @gallery, method: :delete %>

<%= link_to "New Image", new_gallery_image_path(@gallery) %>

<% @gallery.images.each do |image| %>
  <p><%= "#{image.name}: #{image.description}" %></p>
  <img src='<%= image.url %>'>
<% end %>