<h1><%= @gallery.name %></h1>
<div>
  <% if signed_in? %>
    <% if current_user.voted? @gallery %>
      <%= button_to "Downvote", unvote_gallery_path(@gallery), method: :delete %>
        <% else %>
      <%= button_to "Upvote", vote_gallery_path(@gallery) %>
    <% end %>
  <% end %>
</div>
<div>
  <%= pluralize(@gallery.votes.count, "upvotes") %> <br>
</div>
<p>

<p>

<% if current_user == @gallery.user %> 

  <div><%= link_to "Edit Gallery", edit_gallery_path(@gallery) %></div>
  <div><%= link_to "Add New Image", new_gallery_image_path(@gallery) %></div>
  <div><%= link_to "Delete Gallery", @gallery, method: :delete %> </div>

<% end %>

<%= render @images %>
