
<h1><%= @gallery.name %></h1>

<div><%= link_to "Edit Gallery", edit_gallery_path(@gallery) %></div>
<div><%= link_to "Add New Image", new_gallery_image_path(@gallery) %></div>
<div><%= link_to "Delete Gallery", @gallery, method: :delete %> </div>

<% @gallery.images.each do |image| %>
 <p><%= "#{image.name}: #{image.description}" %></p>
 <%= link_to image do %>
  <img src='<%= image.url %>'>
 <% end %>
<% end %>


<%# link_to image tag(image.url, width: 300), image do %>
