<h1>Edit Image</h1>

<%= form_for(@image) do |form| %>
  <%= render 'form_errors', target: @image %>

  <div>Name: <%= form.text_field :name %> </div>
  <div>Description: <%= form.text_field :description %> </div>
  <div>URL:<%= form.text_field :url %></div>
  <div>Tags: <%= form.text_field :tag_list %> </div>

  <p>
    <div><%= form.collection_check_boxes :group_ids, @groups, :id, :name %>
    <%= form.submit "Update Image" %>
  </p>
<% end %>
