<h1>New Image</h1>

<%= form_for([@gallery, @image]) do |form| %>
  <%= render 'form_errors', target: @image %>

  <div> <%= form.text_field :name %> Name </div>
  <div> <%= form.text_field :description %> Description </div>
  <div> <%= form.text_field :url %> URL </div>

  <%= form.submit "Upload Image" %>

<% end %>
