<!DOCTYPE html>
<html>
<head>
  <title>Pixtr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Sigmar+One|Ewert|Cinzel' rel='stylesheet' type='text/css'>


</head>
<body>
  <h3><%= link_to "Pixtr", root_path %></h3>
  <% if signed_in? %>
  <nav>
    <ul>
      <li> <%= link_to "My Galleries", galleries_path %> </li>
      <li> <%= link_to "My Groups", groups_path %></li>
    </ul>
  </nav>

   Signed in as: <%= current_user.email %>
     <div align ="right">
        <%= link_to 'Sign out', sign_out_path, :method => :delete %>
      </div>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
      <%= link_to 'Sign up', sign_up_path %>
    <% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

  <%= yield %>

</body>
</html>
